body {
  font-family: Poppins, sans-serif;
  background: #0d1117;
  color: #fff;
  text-align: center;
}

input, textarea, button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#chatBox {
  height: 400px;
  overflow-y: auto;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.me { text-align: right; color: #58a6ff; margin: 5px; }
.bot { text-align: left; color: #c9d1d9; margin: 5px; }

button { background: #58a6ff; color: white; cursor: pointer; }
